@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fff;
  --brand: #027a5e;
}

body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1480px;
  margin: auto;
}
